<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <title>Search </title>
    <style>
        .alignCenter {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .col1 {
            width: 500px;
        }
        .col2 {
            width: 600px;
        }
        .col3 {
            width: 340px;
        }
        .col4 {
            width: 50px;
        }

        .magnet {
            width: 24px;
            height: 24px;
            text-align: center;
        }

    </style>
</head>
<body style="">
<form action="search" method="post" style="width: 800px;" class="alignCenter">
    {% csrf_token %}
    Ricerca <input type="text" name="param" size="100" {% if searchParam %} value="{{ searchParam }}" {% endif %}> <input type="submit" value="Cerca">
</form>
<table border="1" style="margin-top: 15px; width: 1500px;" class="alignCenter">
        <tr>
            <td>Magnet</td>
            <td class="col4">TNT Topic</td>
            <td class="col1">Title</td>
            <td class="col2">Description</td>
            <td class="col3">Torrent Hash</td>
        </tr>
    {% load static %}
    {% for row in result %}
    {% with magnetFirstPart|add:row.1|add:magnetSecondPart|add:row.5|add:magnetThirdPart as magnetURL%}
        <tr>
            <td><a href="{{ magnetURL }}"><img src="{% static 'search/magnet.png' %}" class="magnet alignCenter"></a></td>
            <td class="col4"> {{ row.2 }}</td>
            <td class="col1"> {{ row.5 }}</td>
            <td class="col2"> {{ row.6 }}</td>
            <td class="col3"> {{ row.1 }}</td>
        </tr>
    {% endwith %}
    {% endfor %}
</table>
</body>
</html>